<section id="section-buttons">
  <form id="buttons">
    <input id="allButton" type="submit" value="All" />
    <input id="activeButton" type="submit" value="Active" />
    <input id="completeButton" type="submit" value="Complete" />
    <input id="downloadButton" type="submit" value="Download">
    <input id="uploadButton" type="submit" value="Upload">
    <input id="signup" type="submit" value="signup" />
    <input id="login" type="submit" value="login" />
    <input id="logout" type="submit" value="logout" />
  </form>
</section>
