@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #CBB279;
}

.container {
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: #537188 0px 2px 8px 0px;
}

.tools-area {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
}

.tools {
    display: flex;
    width: 82%;
    justify-content: space-between;
    align-items: center;
}

#color-picker {
    border-radius: 10%;
    overflow: hidden;
    width: 37px;
    height: 20px;
    outline: 1px solid rgb(74, 74, 74);
    outline-offset: -1px;
}

.color {
    display: flex;
    align-items: center;
}

input[type="color"] {
    border: none;
    width: 45px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid lightgray;
}

label,
i {
    margin: 0 3px;
    cursor: pointer;
}

.buttons button {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .save {
    background: #537188;
    color: #fff;
}

.clear:hover {
    background-color:#E1D4BB;
}

.draw-area canvas {
    width: 100%;
    height: 450px;
    border-radius: 0 0 10px 10px;
}

.active {
    color: #537188;
}
