* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

::selection {
    background: transparent;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0, 98, 255), rgb(0, 3, 180));
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    text-shadow: -2px 0 rgba(89, 255, 0, 0.2), 2px 0 rgba(255, 0, 0, 0.3);
}

#login-form {
    width: 400px;
    background: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 15px;
    line-height: 35px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

    hr {
        margin: 10px 0;
    }

    label {
        font-size: 28px;
        font-weight: 600;
        padding-left: 5px;
    }

    input {
        // height: 25px;
        font-size: 20px;
        padding: 4px 5px;
        margin: 8px 0 20px;
        margin-left: 5px;
        width: 361px;
        border-radius: 2px;
        transition: background 0.2s;
        cursor: text;

        &:focus {
            background: rgb(200, 200, 255);
        }
    }

    .submit-btn {
        background: rgba(69, 69, 255, 0.659);
        padding: 10px;
        margin-top: 20px;
        font-size: 25px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s, background 0.2s;

        &:hover {
            background-color: rgba(51, 51, 255, 0.659);
        }

        &:active {
            background: rgba(69, 69, 255, 0.659);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5),
                inset 0 0 3px rgba(0, 0, 0, 0.5);
            transform: translate(0, 1px);
        }
    }
}
